<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1">
<head>
  <meta charset="UTF-8">
  <title>List of Students</title>
  <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
  <style>
    .pre-scrollable {
      height: 500px;
      overflow-y: scroll;
    }
    h1 {
      text-align: center;
      margin-top: 20px;
      font-weight: bold;
    }
  </style>
</head>
<body>
<div layout:fragment="content">
  <h1>List of Students</h1>
  <div class="container mt-2 pre-scrollable">
    <div class="card-header">Student List</div>
    <div class="card-body">
      <form method="get" th:action="@{/index}">
        <label>Key Word</label>
        <input type="text" name="keyword">
        <button type="submit" class="btn btn-primary">Search</button>
        <button type="submit" class="btn btn-primary">See All</button>
      </form>
      <table class="table mt-3">
        <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Date of Birth</th>
          <th>Pass</th>
          <th>GPA</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${listStudents}">
          <td th:text="${p.getId()}"></td>
          <td th:text="${p.getName()}"></td>
          <td th:text="${p.getDob()}"></td>
          <td th:text="${p.passed}"></td>
          <td th:text="${p.getGpa()}"></td>
          <td>
            <a class="btn btn-danger"
               onclick="return confirm('Are you sure you want to delete this record?')"
               th:href="@{/delete(id=${p.id})}">
              Delete
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- JavaScript alert for added or edited records -->
<script th:inline="javascript">
  /* Check if a record was added */
  var a = /*[[${session.a}]]*/ 0;
  if(a === 1){
    alert('One record added');
  }
</script>
<script th:inline="javascript">
  /* Check if a record was edited */
  var e = /*[[${session.e}]]*/ 0;
  if(e === 2){
    alert('One record edited');
  }
</script>

</body>
</html>
